#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
 font-family: 'Inter', sans-serif;

}
body {
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(135deg, #f0f4ff, #fdfbff, #e0e7ff);
  background-attachment: fixed;
}

